/* imageLogin.css */

.logo-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Para alinear verticalmente con el formulario */
}

.logo-login img {
    width: 420px;
}
/* Responsividad */
@media (max-width: 768px) {
    .logo-login img {
        width: 200px; /* Tamaño reducido del logo en dispositivos pequeños */
    }
}

@media (max-width: 480px) {
    .logo-login img {
        width: 150px;
    }
}