/* Estilos generales para la barra de navegación */
aside {
    background-color: #FAF8F8; /* Color de fondo más oscuro */
    padding: 1rem;
    border-right: 1px solid #CCC;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18%;
    box-sizing: border-box;
}

/* Logo */
.logo {
    display: flex;
    margin-bottom: 1rem;
}
.logo img {
    width: 160px;
    margin-bottom: 1rem;
}

/* Lista de enlaces de navegación */
.inputs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos de cada enlace en la lista */
.inputs li {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

/* Iconos SVG junto a los enlaces */
.inputs li svg {
    margin-right: 0.5rem;
}

/* Estilos del texto de los enlaces */
.inputs li a {
    text-decoration: none;
    font-size: 1rem;
    color: #147AFF;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

/* Imagen de perfil en la barra */
.inputs li img {
    border-radius: 50%;
    width: 35px; /* Aumenta el tamaño para alinearlo mejor con los iconos */
    height: 35px;
    margin-right: 0.5rem; /* Cambia el margen a la derecha */
}

/* Asegura que el user-bar esté al final de la barra */
.userbarbot {
    margin-top: 14.5rem;
    margin-bottom: 1rem;
}

/* Responsive */
@media (max-width: 767px) {
    aside {
        display: none;
    }
}
